html, body{
    height:100vh;
    font-size:62.5%;
    box-sizing: border-box;
    background-color: hsl(233, 47%, 7%);
    font-family: 'Inter',sans-serif;
    display: grid;
    justify-content: center; 
    grid-template: minmax(600px,820px) / minmax(265px,768px);
}

/* Card Container */

.container{
    max-width: 85%;
    max-height: 95vh ;
    background-color: hsl(244,38%,16%);
    border-radius: 1.12rem;  
    display:flex;
    flex-flow: column;
    text-align: center;
    align-items: center;
    margin:auto;
}

/* Top or Right Side */

.topright{
    background-color: hsl(278, 89%, 25%);
    border-radius: 1.12rem 1.12rem 0 0; 
    width:100%;
    max-height:31.25rem;
}

.topright .mobile{
    display:block;
    opacity:0.4;
    width:100%;
    max-height:inherit;
    object-fit: cover;
    object-position:top;
    border-radius: inherit;
}

.topright .desktop{
    display:none;
}

/* Bottom or Left side */

header , .stat-number{
    color: white;
}
 
span{
    color: hsl(277,64%, 61%);
}

header{
    font-size: 1.28rem;
    padding:.8rem 2.72rem 0 2.88rem;
    margin-top:.8rem;
}

main{
    color:hsla(0,0%,100%,0.75);
    padding:0 3rem 0rem 3rem;
    font-size:1.4rem;
    line-height:2.5rem;
}

section{
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-between;
    padding:1.8rem 3.2rem 1.6rem 3.2rem;
}

section > div{
    margin-bottom: 2.4rem;
}

.stat-number{
    font-size:2.3rem;
    font-weight:700;
}

.stat-header{
    font-family:'Inter',sans-serif;
    color:hsla(0,0%,100%,0.6);
    text-transform: uppercase;
    font-size:1.1rem;
    margin-top: .56rem;
    letter-spacing:.1rem
}

/*Phone Media Queries*/

@media only screen and (orientation:portrait) and (min-width:290px) and (max-height:770px){
    section {
        flex-direction: row; }
}

@media only screen and (orientation:portrait) and (max-height:600px){
    .container {
        max-height:100%; }
}

@media only screen and (orientation:portrait) and (max-height:710px){
    body,html {
        font-size:50%; }
}

 /* Laptop or Tablet Media Queries*/

@media only screen and (orientation:landscape) {

/* Card Container */

html, body{ 
    grid-template:none;
    min-height:716px;
}

.container{
    text-align:left;
    flex-direction: row;
    min-width:600px;
    min-height:400px;
}

.container > div{
   max-height:100%;
}

/* Top or Right Side */

.topright{
    order:1;
    border-radius: 0 1.12rem 1.12rem 0;

}

.topright .desktop{
    display: block;
    opacity:0.4;
    border-radius: inherit;
    object-fit: cover;
    object-position: top;
    width:100%;
    height:100%;
}

.topright .mobile{
    display:none;
}

/* Bottom or Left Side */

.bottomleft{
    margin:auto;
    padding-left:5rem;
    padding:3rem 0rem 0 5rem ;
    display:grid;
    grid-template: 13.12rem 1fr 1fr / 1fr;
    grid-template-areas:"h"
                        "m"
                        "s";                    
}

header{
    grid-area: h;
    font-size:1.9rem;
    padding-right: 6rem;
}

main,section{
    padding-right:16rem;
}

main{
    grid-area: m;
    font-size: 1.55rem;
    padding-top:1.5rem;
    line-height: 2.8rem;
}

section{
    grid-area: s;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom:5rem;
    
}

.stat-number{
    font-weight:700;
    margin-bottom:.48rem;
    font-size: 2.4rem;
} 

.stat-header{
    font-family: 'Lexend Deca', sans-serif;
    text-transform: uppercase;
    font-size: 1.2rem;
    letter-spacing: .122rem;
}

section > div{
    margin-right:3.5rem;
}

}


@media only screen and (orientation:landscape) and (max-width:930px) {
    html,body{
        font-size:50%;
    }

    .container{
        max-width:80vw;
        height:50vh;       
    }

    .container > div{
        height:100%;      
    }

    .bottomleft {
        width:35%;
        padding-left:0;
    }

    header{
        font-size:1.4rem;
        padding-right:6rem;
    }

    main{
        font-size:1.3rem;
        padding-right:8rem;
        margin-top:1rem;  
    }

    section {
        padding-top:0rem;
        text-align:center;
        flex-direction: column;
        padding-left:10rem;  
    }

    section > div{
        margin:0;
    }

    .stat-number{
        font-size: 1.6rem;
    }

    .stat-header{
        font-size:1.1rem;
    }   
}

@media only screen and (orientation:landscape) and (min-width:931px) and (max-width:1040px) {

    body,html{
        font-size: 50%;
    }

    .container{
        max-width:90vw;
        height:50vh;
        
    }

    .container > div{
        height:100%
        
    }

    .bottomleft{
        width:45%;
        padding-left:2rem;
    }

} 

@media only screen and (orientation:landscape) and (min-width:1041px) and (max-width:1339px) {

    body,html{
        font-size: 55%;
    }

    .container{
        max-width:80vw;
        height:50vh;
        
    }

    .container > div{
        height:100%;
        width:50%;
        
    }

    .bottomleft{
        width:45%;
        padding-left:2rem;
    }

} 

@media only screen and (orientation:landscape) and (min-width:1340px) and (max-width:1622px){

    body, html{
        font-size:55%;
    }

    .container{
        max-width:75vw;
        height:50vh;
    }

    .container > div{
        height:100%;
        width:50%;
    }


 }

@media only screen and (orientation:landscape) and (min-width:1623px){

    .container{
        max-width:63vw;
        height:50vh;
        
    }

    .container > div{
        width:50%;
        height:100%}
        
    }

@media only screen and (orientation:landscape) and (min-width:2300px){

    body,html{
        font-size:70%;
        }
    }

